*.gem
*.rbc
.bundle
.config
.yardoc
.rvmrc
Gemfile.lock
InstalledFiles
_yardoc
coverage
examples/master.yml
examples/slave1.yml
examples/slave2.yml
examples/slave3.yml
examples/slave4.yml
doc/
pkg
rdoc
tmp
lib/bundler/man
spec/reports
